<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="les.projeto.quebra_galho">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.TutorialActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.ListaTutorialActivity" android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.EscolherClienteProfissional"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainProfissional"></activity>
        <activity android:name=".view.ListaServicosActivity"></activity>
        <activity
            android:name=".NewProfissionalActivity"
            android:label="@string/title_activity_new_profissional" >
        </activity>
        <activity
            android:name=".ListProfissionalActivity"
            android:label="@string/title_activity_list_profissional" >
        </activity>

        <activity
            android:name=".view.Forum"
            android:label="Forum" >
        </activity>

        <activity
            android:name=".view.Escrever_Comentario"
            android:label="Escrever_Comentario" >
        </activity>

        <activity
            android:name=".view.Teste"
            android:label="Teste" >
        </activity>

        <service android:name=".NotifyService"/>
    </application>

</manifest>